@import "../Variables/Variables.scss";

.wrapper {
    
    align-items: flex-start;
    justify-content: flex-start;
    height: clamp(400px 70vh 100vh);
    width: clamp(600px 100vw 100vw);
    background-color:rgb(53, 51, 141);

    img{
        display: block;
        width: 100vw;
        height: 70vh;
        mix-blend-mode: hard-light;
    }
   
}
.content {

    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    
    h3{
        font-size: 3rem;
        margin-bottom: 3rem;
        color: $primaryColor;
        
    }
    p{ 
        font-size: 1rem;
        color: $secondaryColor;
        margin-bottom: 3rem;
        border-left: solid 1px red;
        padding: 12px;
        
    }
   Button{
    background-color: $primaryColor;
    border: none;
   }
}