@import "../Variables/Variables.scss";
.service{
    max-width: 100vw;
    padding: 50px 20px;
    margin: 10px 10px;
}
.service h2 {
    font-size: 2rem;
     color:green;
     text-align: center;
     margin-bottom: 20px;
}
.service p{
    font-size: 1rem;
     text-align: center;
}

.cardservice {
    max-width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 40px;
    align-content: center;
    background-color: rgb(231, 241, 238);
    place-content: center;
    place-items: center;
    padding: 20px;
    
    //max-height: 350px;
}
.cardservices{
    max-width: 26vw;
    border: 2px solid rgb(95, 95, 6);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(157, 172, 219);
}
.cardservices:hover{
    background-color: white;
    
}

 .cardservices img {
   
        max-width:24vw;
        height: clamp(200px, 90% ,800px);
}

.text{
  padding: 10px;
}
.text h4{
text-align:start;
font-size: 1.4rem;
 margin: 4px;
 color:blue;
}
.text p{
 text-align: start;
 line-height: 1.4;
 margin-top: 1rem;
}

.projects{
    max-width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 350px , 350px;
    //gap: 10px;
    margin: 30px;
    background-color: green;
    place-content: center;
    place-items: center;
    padding: 10px;
}
.project1{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding-top: 20px;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(15, 39, 116, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2016/05/21/21/39/housebuilding-1407499__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project2{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2013/02/05/19/16/sky-78113__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project3{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2016/04/28/15/50/construction-site-1359136__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project4{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2014/12/15/14/02/construction-worker-569126__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project5{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2016/09/05/14/13/construction-site-1646662__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project6{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2018/05/03/10/18/housebuilding-3370969__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}.project7{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2017/08/20/02/47/foundation-2660502__480.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project8{
    max-width: 30vw;
    display: flex;
    height: 300px;
    flex-direction: column;
    padding: 20px;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 252, 179, 0.4)), url("https://cdn.pixabay.com/photo/2020/12/05/14/09/man-5806015__340.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.project1 h4 {
    padding-top: 60px;
    color: aqua;
    font-size: 1.6rem;
}
.project1 p{
  line-height: 1.4;
  color: black;
  font-weight: 600;
  
}
.project2 h4 {
    color: aqua;
    padding-top: 60px;
   font-size: 1.6rem;
 }
 .project2 p{
   line-height: 1.4;
   color: black;
   font-weight: 600;
 }
 .project3 h4 {
    color: aqua;
   font-size: 1.6rem;
   padding-top: 60px;
 }
 .project3 p{
   line-height: 1.4;
   color: black;
   font-weight: 600;
   
 }
 .project4 h4 {
    padding-top: 60px;
    color: aqua;
   font-size: 1.6rem;
 }
 .project4 p{
   line-height: 1.4;
   color: black;
   font-weight: 600;

   
 }
 .project5 h4 {
    color: aqua;
    padding-top: 60px;
   font-size: 1.6rem;
 }
 .project5 p{
   line-height: 1.4;
   color: black;
   font-weight: 600;
   
 }
 .project6 h4 {
    padding-top: 60px;
    color: aqua;
    font-size: 1.6rem;
 }
 .project6 p{
   line-height: 1.4;
   color: black;
   font-weight: 600;
 }
 .project7 h4 {
    padding-top: 60px;
    color: aqua;
   font-size: 1.6rem;
   font-weight: 600;
 }
 .project7 p{
   line-height: 1.4;
   color: black;
   font-weight: 600;
 }
 .project8 h4 {
    color: aqua;
   font-size: 1.6rem;
   padding-top: 60px;
 }
 .project8 p{
   line-height: 1.4;
   color: rgb(7, 14, 13);
   font-weight: 600;
   
 }
 .project{
   display: flex;
   padding: 30px;
   flex-direction: column;
   max-width: 100vw;
   max-height: 400px;
   align-items: center;
   justify-content: center;
 }
 .project h2{
    color: green;
 }
 .project p{
    text-align: center;
 }
 